PORT=5000

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

HIVE_AI_API_KEY=your_hive_ai_api_key
SIGHTENGINE_API_USER=your_sightengine_api_user
SIGHTENGINE_API_SECRET=your_sightengine_api_secret

SUPABASE_URL=https://vpnhfvhdtqvbswdrdawl.supabase.co
SUPABASE_KEY=your_ANON_Key
SUPABASE_ANON_KEY=your_ANON_Key
SUPABASE_SERVICE_ROLE_KEY=Your_Service_role_key

JWT_SECRET=Your_JWT_Secret_key
